*{
    margin:0px 0px 0px 0px;
}
.row{
    border:solid 3px red;
}
.row:after {
    content: "";
    display: block;
    clear: both;
}
.col{
    border: solid 2px black;
    float:left;
} 
.inside-row{
    border: solid 2px blue;
    float:left;
} 
.inside-col{
    border: solid 2px green;
    float:left;
} 

#un{
    color:#F04C4E;
}
#ungineering{
    font-size:50px;
    font-family:"Open Sans",sans-serif;
    font-weight:bold;
}
#gi{
    color:#373737;
}
#quote{
    font-family:"Open Sans",sans-serif;
    font-size:10px;
}
#logo-youtube{
    max-width:100%;
    max-height:100%;
}
#logo-facebook{
    max-width:70%;
    max-height:76%;
}
.bit{
    color:#F04C4E;
}
.quote1{
    color:#373737;
}




.row1>.col{
    height:255px;
}
    .row1>.col1{
        width:8%;
    }
    .row1>.col2{
        width:5%;
        padding:80px 0px 0px 10px;
    }
    .row1>.col3{
        width:18%;
    }
    .row1>.col4{
        width:35%;
    }
    .row1>.col5{
        width:13%;
    }
    .row1>.col6{
        width:13%;
    }
    .row1>.col7{
        width:8%;
    }
    .col3>.row31{
        width:100%;
        height:30%;
    }
    .col3>.row32{
        width:100%;
        height:30%;
        padding: 5px 0px 0px 0px;
    }
    .col3>.row33{
        width:100%;
        height:7%;
    }
    .col3>.row34{
        width:100%;
        height:33%;
    }
    .col5>.row51{
        width:100%;
        height:40%;
    }
    .col5>.row52{
        width:100%;
        height:30%;
        font-size:30px;
        font-family:"Open Sans",sans-serif;
        font-weight:bold;
        color:#373737;
    }
    .col5>.row53{
        width:100%;
        height:30%;
    }
    .col6>.row61{
        width:100%;
        height:40%;
    }
    .col6>.row62{
        width:100%;
        height:30%;
    }
    .col6>.row63{
        width:100%;
        height:30%;
    }
    .logout{
        font-size:30px;
        margin: 0px 0px 0px 21px;
        height:73%;
        width:81%;
        font-weight:bold;
        font-family:"Open Sans",sans-serif;
        color:#F04C4E;
        border: solid 1.5px #F04C4E;
        padding: 0px 42px 0px 42px;
    }

.row2>.col{
    height:975px;
}
    .row2>.col1{
        width:12%;
    }
    .row2>.col2{
        width:12%;
    }
    .row2>.col3{
        width:52%;
        background-color:#F7F7F7;
    }
    .row2>.col4{
        width:24%;
    }
    .col2>.row21{
        width:100%;
        height:10%;
    }
    .col2>.row22{
        width:100%;
        height:10%;
        font-size:30px;
        font-family:"Open Sans",sans-serif;
        font-weight:bold;
        color:#F04C4E;
        text-decoration:underline;
        padding:0px 60px 0px 30px;
    }
    .col2>.row23{
        width:100%;
        height:10%;
        font-size:30px;
        font-family:"Open Sans",sans-serif;
        font-weight:bold;
        color:#373737;
        padding:0px 30px 0px 30px;
    }
    .col2>.row24{
        width:100%;
        height:70%;
    }
    .col3>.col31{
        height:100%;
        width:23%;
    }

    .col3>.col32{
        height:100%;
        width:54%;
    }
    .col32>.edit_profile{
        height:100%;
        width:100%;
    }
    .col3>.col33{
        height:100%;
        width:23%;
    }
    .edit_profile>.row31{
        height:11%;
        width:100%;
        padding:67px 0px 0px 0px;
    }
    .edit_profile>.row32{
        height:7.5%;
        width:100%;
    }
    .edit_profile>.row33{
        height:7.5%;
        width:100%;
    }
    .edit_profile>.row34{
        height:7.5%;
        width:100%;
    }
    .edit_profile>.row35{
        height:7.5%;
        width:100%;
    }
    .edit_profile>.row36{
        height:7.5%;
        width:100%;
    }
    .edit_profile>.row37{
        height:7.5%;
        width:100%;
    }
    .edit_profile>.row38{
        height:7.5%;
        width:100%;
    }
    .edit_profile>.row39{
        height:7.5%;
        width:100%;
    }
    .edit_profile>.row310{
        height:7.5%;
        width:100%;
    }
    .edit_profile>.row311{
        height:21.5%;
        width:100%;
    }
    .edit_profile>.inside-row{
        font-size:30px;
        font-family:"Open Sans",sans-serif;
        font-weight:bold;
        color:#373737;
    }
    .edit{
        border:solid 1.5px #F04C4E;
        height: 62px;
        width: 100%;
        border-radius: 5px;
    }
    .padded{
        padding:33px 0px 0px 0px;
    }
    .update-button{
        border: solid 1.5px #F04C4E;
        border-radius:5px;
        background-color:#f04c4e;
        color:white;
        font-weight:bold;
        height: 50px;
        width: 195px;
        font-size: 30px;
        font-family: "Open Sans",sans-serif;
    }
    .row311{
        padding:14px 0px 0px 0px;
    }
    
    
    
.row3>.col{
    height:220px;
}
    .row3>.col1{
        width:8%;
    }
    .row3>.col2{
        width:14%;
    }
    .row3>.col3{
        width:48%;
    }
    .row3>.col4{
        width:22%;
    }
    .row3>.col5{
        width:8%;
    }
    .col2>.row221{
        width:100%;
        height:27%;
    }    
    .col2>.row222{
        width:100%;
        height:13%;
        font-family:"Open Sans",sans-serif;
        font-size:16px;
        color: #f7f7f7;
    }
    .col2>.row223{
        width:100%;
        height:30%;
    }
    .col2>.row224{
        width:100%;
        height:30%;
    }
    .col4>.row41{
        width:100%;
        height:30%;
    }
    .col4>.row42{
        width:100%;
        font-family:"Open Sans",sans-serif;
        font-size:16px;
        color: #f7f7f7;
        height:15%;
    }
    .col4>.row43{
        width:100%;
        height:20%;
        font-family:"Open Sans",sans-serif;
        font-size:25px;
        color: #f7f7f7;
    }
    .col4>.row44{
        width:100%;
        height:35%;
    }
    .row223>.inside-col{
        height:100%;
        width:30%;
    }    
    .logo1{
        padding:0px 0px 4px 4px;
    }
    .logo2{
        padding:7px 0px 0px 3px;
    }
    
.row3{
    background-color:#373737;
}



*{
    box-sizing: border-box;
}    



