*{
box-sizing:border-box;
font-family: 'Open Sans', sans-serif;
}
.ha1{
    height:100px;
    width:100%;
}

.a1{
    height:75px;
    width:100%;
}

.aa1{
    float:left;
    height:100%;
    width:50%;
    text-align: center;
    font-weight:bold;
}

.aa2{
    float:left;
    height:100%;
    width:50%;
    text-align:center;
    color:#F04C4D;
    font-weight:bold;
}

#mainbox{
    width:100%;
    border:solid 1px grey;
    height:400px;
    background-color:#F4F4F4;
}

#mainouterbox{
    height:777px;
    width:600px;
    border:solid 1px grey;
    margin:auto;
} 


.b1{
    height:30px;
    width:100%;
    font-weight:bold;
    font-size:20px;
    padding:0px 0px 0px 90px;

}

.c1{
    height:30px;
    width:100%;
    font-weight:bold;
    font-size:20px;
    margin:-20px 0px 25px 0px;
    padding:0px 0px 0px 90px;

}
.f1{
    height:20px;
    width:100%;
    font-weight: bold;
    font-size:15px;
    margin:0px 0px 10px 0px;
    padding:0px 0px 0px 90px;

}

.g1{
    width:100%
    border:solid 1px pink;
    padding:0px 90px 0px 90px;
    height:20px;
}




.h1{
    height:20px;
    width:100%;
    font-weight: bold;
    font-size:15px;
    margin:0px 0px 10px 0px;
    padding:0px 0px 0px 90px;
    

}

.ha2{
    width:100%
    border:solid 1px pink;
    margin:0px 0px 10px 0px;
    padding:0px 90px 0px 90px;
}



.k1{
    width:100%
    border:solid 1px pink;
    text-align:center;
    margin:0px 0px 10px 0px;
    padding:0px 90px 0px 90px;
}


.l1{
    width:100%
    border:solid 1px pink;
    color:#F04C4D;
    padding:0px 0px 0px 90px;
}

.m1{
    height:100px;
    width:100%;
}
