* {
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
    
}
div.a{
    float: left;
    border: solid 0px black;
    height: 140px;
    width: 80%;
    margin: 2% 10% 0% 10%;
}

div.a1{
    float: left;
    border: solid 0px black;
    height: 100%;
    width: 50%;
}
div.a1a{
    float: left;
    border: solid 0px black;
    height: 100%;
    width: 12%;
    padding-left:1%;
    
}
div.a1b{
    float: left;
    border: solid 0px black;
    height: 42%;
    width: 88%;
}

div.a1c{
    float: left;
    border: solid 0px black;
    height: 58%;
    width: 88%;
    font-size: 10px;
    margin-top: 0.5%;
}

div.a2{
    float: left;
    border: solid 0px black;
    width: 50%;
    height: 100%;
    font-size: 20px;
}

div.a21{
    float: left;
    font-size: 20px;
    margin: 2% 0% 0% 48%;
    }
div.a22{
    float: right;
    border: solid 1.5px rgb(255,0,0);
    width:25%;
    height:36%;
    color: #d54d4f;
    font-size: 21px;
    margin: 2% 0% 0% 2%;
    padding: 0% 0% 8% 8%;    
}

div.line{
    height: 1px;
    width: 100%;
    float: left;
    border-top: solid 1px black;
    }
div.b{
    float: left;
    width: 80%;
    margin: 0% 10% 0% 10%;
    
}
div.b1{
    float: left;
    border: solid 0px black;
    
    width: 18%;
}
div.b1a{
    float: left;
    
    width: 100%;
    font-family: 'Open Sans', sans-serif;
    padding: 15% 0% 0% 15%; 
}
div.b1b{
    float: left;
    border: solid 0px black;
    
    width: 100%;
    font-family: 'Open Sans', sans-serif;
    padding: 0% 0% 0% 15%;	
    color: #d54d4f; 
    }
div.b2{
    float: left;
    border: solid 0px black;
    
    width: 64%;
    background-color: #f8f8f8;
    margin-bottom: 0%;
    }
div.b2a{
    float: left;
    border: solid 4px #E4E1E1;
    width: 100%;	
    background-color: white;
}
div.b2aa{
    float: left;
    border: solid 0px black;
    width: 90%;
    font-size:22px;
    margin: 4% 5% 0% 5%;
    
}
div.b2ab{
    float: right;
    border: solid 0px black;
    width: 90%
    font-size:22px;
    padding: 0% 0% 0% 0%;
    margin: 0% 5% 0% 5%;
}
div.b2b{
    float: left;
    border: solid 4px #f8f8f8;
    height: 200px;
    width: 100%;
    margin: 4.5% 0% 0% 0%;
    background-color: white;
}
div.b2ba{
    float: left;
    border: solid 0px black;
    width: 90%;
    font-size: 22px;
    margin: 0% 5% 0% 5%;
}
div.b2bb{
    float: right;
    border: solid 0px black;
    width: 90%
    font-size:22px;
    margin: 0% 5% 0% 5%;
}

div.c{
    float: left;
    border: solid 0px black;
    height: 200px;
    width: 100%;
    background-color: #373737;
}
div.c1{
    float: left;
    border: solid 0px black;
    height: 100%;
    width: 50%;
}
div.c1a{
    float: left;
    border: solid 0px black;
    font-size: 20px;
    font-family: 'Open Sans', sans-serif;
    height: 50%;
    width: 100%;
    padding: 5% 10% 0% 25%;
    color: white;
}
     
div.c1b{
    float: left;
    height: 50%;
    border: solid 0px black;
    padding: 0% 0% 0% 25%;
}    
div.c1c{
    float: left;
    height: 50%;
    border: solid 0px black;
    padding-left: 1%;
}    
div.c2{
    float: left;
    border: solid 0px black;
    height: 100%;
    width: 50%;
}
div.c2a{
    float: left;
    border: solid 0px black;
    font-size: 20px;
    height: 50%;
    width: 100%;
    padding: 7% 10% 0% 40%;
    color: white;
}
div.c2b{
    float: left;
    border: solid 0px black;
    font-size: 20px;    
    padding: 0% 0% 0% 51%;
    color: white;
}
    

    
