*{
box-sizing:border-box;
font-family: 'Open Sans', sans-serif;
}
.ha{
    height:100px;
    width:100%;
}
.ha2{
    height:10px;
    width:100%;
    text-align:center;
    font-size:5.8px;
    padding:0px 0px 0px 15px;
    
}
.ha1{
    height:50px;
    width:100%;
    text-align:center;
    font-size:20px;
    margin:0px 0px -24px 0px;
    font-weight:bold;
    padding:1px 0px 0px 0px;
}



.a1{
    height:75px;
    width:100%;
}

.aa1{
    float:left;
    height:100%;
    width:50%;
    text-align: center;
    color:#F04C4D;
}

.aa2{
    float:left;
    height:100%;
    width:50%;
    text-align:center;
    padding:0px 0px 0px 80px;
}

#mainbox{
    width:600px;
    border:solid 1px grey;
    height:700px;
    background-color:#F4F4F4;
    margin:auto;
}

#mainouterbox{
    height:777px;
    width:600px;
    border:solid 1px grey;
    margin:auto;
} 

.b1{
    height:32px;
    width:100%;
    font-weight:bold;
    font-size:30px;
    padding:0px 0px 0px 90px;
    margin:none;

}

.c1{
    height:32px;
    width:100%;
    font-weight:bold;
    font-size:30px;
    padding:0px 0px 0px 90px;
    margin: -20px 0px 40px 0px;

}

.d1{
    height:30px;
    width:100%;
    font-size:20px;
    padding:0px 0px 0px 90px;
    font-weight:bold;
}

.e1{
    width:100%
}


.f1{
    height:30px;
    width:100%;
    font-weight:bold;
    font-size:20px;
    padding:0px 0px 0px 90px;

}

.g1{
    width:100%
    border:solid 1px pink;
}




.h1{
    height:30px;
    width:100%;
    font-weight:bold;
    font-size:20px;
    padding:0px 0px 0px 90px;

}

.h2{
    width:100%
    border:solid 1px pink;
}



.i1{
    height:30px;
    width:100%;
    font-weight:bold;
    font-size:20px;
    padding:0px 0px 0px 90px;

}

.j1{
    width:100%
    border:solid 1px pink;
}



.k1{
    width:420px;
    text-align:center;
    background-color:#F04C4D;
    margin:0px 90px;
    color:white;
    height:35px;
    padding:0px 0px 0px 0px;
}


.l1{
    width:100%
    border:solid 1px pink;
    color:#F04C4D;
    padding:0px 0px 0px 90px;
    margin:10px 0px 0px 0px;
}

.m1{
    height:200px;
    width:100%;
}


.gap{
    height:10px;
    width:100%;
}

.gap1{
    height:10px;
    width:100%;
}


.gap2{
    height:10px;
    width:100%;
}


.gap3{
    height:10px;
    width:100%;
}


.gap4{
    height:10px;
    width:100%;
}

input[type="text"]{
    border-color:#F04C4D;
}









.row{
    border:solid 0px red;
}
.row:after {
    content: "";
    display: block;
    clear: both;
}
.col{
    border: solid 0px black;
    float:left;
}
.inside-row{
    border: solid 0px blue;
    float:left;
}


#logo-youtube{
    max-width:100%;
    max-height:100%;
    margin:0px 0px 0px 0px;
}
#logo-facebook{
    max-width:70%;
    max-height:76%;
    margin:0px 0px 0px 0px;
}

.row3>.col{
    height:220px;
}
    .row3>.col1{
        width:8%;
    }
    .row3>.col2{
        width:14%;
    }
    .row3>.col3{
        width:48%;
    }
    .row3>.col4{
        width:22%;
    }
    .row3>.col5{
        width:8%;
    }
    .col2>.row221{
        width:100%;
        height:27%;
    }
    .col2>.row222{
        width:100%;
        height:13%;
        font-family:"Open Sans",sans-serif;
        font-size:16px;
        color: #F7F7F7;
    }
    .col2>.row223{
        width:100%;
        height:30%;
    }
    .col2>.row224{
        width:100%;
        height:30%;
    }
    .col4>.row41{
        width:100%;
        height:30%;
    }
    .col4>.row42{
        width:100%;
        font-family:"Open Sans",sans-serif;
        font-size:16px;
        color: #F7F7F7;
        height:15%;
    }
    .col4>.row43{
        width:100%;
        height:20%;
        font-family:"Open Sans",sans-serif;
        font-size:25px;
        color: #F7F7F7;
    }
    .col4>.row44{
        width:100%;
        height:35%;
    }
    .row223>.inside-col{
        height:100%;
        width:30%;
    }
    .logo1{
        padding:0px 0px 4px 4px;
    }
    .logo2{
        padding:7px 0px 0px 3px;
    }
.row3{
    background-color:#373737;
}
.col2>.row23:after {
    content: ""; /* This is necessary for the pseudo element to work. */
    display: block; /* This will put the pseudo element on its own line. */
    width: 50%; /* Change this to whatever width you want. */
    padding-top:0px; /* This creates some space between the element and the border. */
    border-bottom:5px solid #373737; /* This creates the border. Replace black with whatever color you want. */
    border-radius:70px;
}
.col5>.row52:after {
    content: ""; /* This is necessary for the pseudo element to work. */
    display: block; /* This will put the pseudo element on its own line. */
    width:30%; /* Change this to whatever width you want. */
    padding-top:0px; /* This creates some space between the element and the border. */
    border-bottom:5px solid #373737; /* This creates the border. Replace black with whatever color you want. */
    border-radius:70px;
}
*{
    box-sizing: border-box;
}



