*{
    box-sizing: border-box;
}
div{
    background-color: rgb(248,248,248); 
}
.group1{
    background-color: rgb(255,255,255);
    border: solid 1px white;
    width: 100%;
    height: 22%;
}
.group2{
    background-color: rgb(255,255,255);
    border: solid 1px black;
    margin: 10px 30px 15px 250px;
    width: 65%;
    height: 27%;
}
.group3{
    background-color: rgb(255,255,255);
    border: solid 1px black;
    margin: 10px 30px 15px 250px;
    width: 65%;
    height: 27%;
}
.group4{
    background-color: rgb(255,255,255);
    border: solid 1px black;
    margin: 10px 30px 15px 250px;
    width: 65%;
    height: 27%;
}
.group5{
    background-color: rgb(255,255,255);
    border: solid 1px black;
    margin: 10px 30px 15px 250px;
    width: 65%;
    height: 27%;
}
.group6{
    background-color: rgb(255,255,255);
    border: solid 1px black;
    margin: 10px 30px 50px 250px;
    width: 65%;
    height: 27%;
}
.group7{
    background-color: rgb(55,55,55);
    border: solid 1px black;
    width: 100%;
    height: 25%;
}
.text1{
    background-color: rgb(255,255,255);
    color: rgb(55,55,55);
    padding: 10px 10px 10px 20px;
    display: block;
    font-size: 30px;
}
.text2{
    background-color: rgb(255,255,255);
    color: rgb(55,55,55);
    padding: 10px 10px 10px 20px;
    display: block;
    font-size: 20px;
}
.text3{
    background-color: rgb(255,255,255);
    display: block;
    color: rgb(55,55,55);
    padding: 10px 0px 10px 900px;
    font-size: 20px; 
}
.border1{
    display: inline-block;
    background-color: rgb(255,255,255);
    width: 20%;
    height: 40%;
    margin: 10px 30px 40px 25px;
}
.border2{
    background-color: rgb(255,255,255);
    display: inline-block;
    width: 32%;
    height: 40%;
    margin: 10px 30px 70px 760px;
}     
div.word1{
    background-color: rgb(255,255,255);
    width: 30%;
    display: inline-block;
    border: solid 1px red;
    padding: 10px 10px 10px 65px;
    color: rgb(240,76,77);
}
div.word2{
    padding: 10px 10px 10px 55px;
    width: 30%;
    display: inline-block;
    border: rgb(255,255,255);
    background-color: rgb(240,76,77);
    color: rgb(255,255,255);
}
.border3{
    width: 40%;
    display: inline-block;
}
.border4{
    width: 40%;
    display: inline-block;
}
div.word3{
    display: block;
    color: rgb(201,201,201);
    background-color: rgb(55,55,55);
    padding: 50px 0px 0px 250px;
    font-size: 20px;
}
div.word4{
    display: block;
    color: rgb(255,255,255);
    background-color: rgb(55,55,55);
    font-size: 20px;
}
div.word5{
    display: block;
    color: rgb(201,201,201);
    background-color: rgb(55,55,55);
    padding: 55px 0px 0px 410px;
    font-size: 18px;
}
div.word6{
    display: block;
    color: rgb(201,201,201);
    background-color: rgb(55,55,55);
    font-size: 20px;
    padding: 0px 0px 0px 460px;
}   
