*{
    margin:0px 0px 0px 0px;
}
.row{
    border:solid 3px red;
}
.row:after {
    content: "";
    display: block;
    clear: both;
}
.col{
    border: solid 2px black;
    float:left;
} 
.inside-row{
    border: solid 2px blue;
    float:left;
} 
.inside-col{
    border: solid 2px green;
    float:left;
} 
#logo{
    width:80%;
    height:75%;
}
#un{
    color:#F04C4E;
}
#ungineering{
    font-size:50px;
    font-family:"Open Sans",sans-serif;
    font-weight:bold;
}


.row1>.col{
    height:255px;
}
    .row1>.col1{
        width:10%;
    }
    .row1>.col2{
        width:5%;
        padding:70px 0px 0px 0px;
    }
    .row1>.col3{
        width:18%;
    }
    .row1>.col4{
        width:35%;
    }
    .row1>.col5{
        width:13%;
    }
    .row1>.col6{
        width:13%;
    }
    .row1>.col7{
        width:5%;
    }
    .col3>.row31{
        width:100%;
        height:40%;
    }
    .col3>.row32{
        width:100%;
        height:20%;
    }
    .col3>.row33{
        width:100%;
        height:7%;
    }
    .col3>.row34{
        width:100%;
        height:33%;
    }
    .col5>.row51{
        width:100%;
        height:40%
    }
    .col5>.row52{
        width:100%;
        height:30%
    }
    .col5>.row53{
        width:100%;
        height:30%
    }
    .col6>.row61{
        width:100%;
        height:40%
    }
    .col6>.row62{
        width:100%;
        height:30%
    }
    .col6>.row63{
        width:100%;
        height:30%
    }

.row2>.col{
    height:1050px;
}
    .row2>.col1{
        width:12%;
    }
    .row2>.col2{
        width:12%;
    }
    .row2>.col3{
        width:52%;
    }
    .row2>.col4{
        width:24%;
    }
    .col2>.row21{
        width:100%;
        height:10%;
    }
    .col2>.row22{
        width:100%;
        height:10%;
    }
    .col2>.row23{
        width:100%;
        height:10%;
    }
    .col2>.row24{
        width:100%;
        height:70%;
    }
    .col3>.col31{
        height:100%;
        width:15%;
    }

    .col3>.col32{
        height:100%;
        width:70%;
    }
    .col3>.col33{
        height:100%;
        width:15%;
    }
    .col32>.row31{
        height:7%;
        width:100%;
    }
    .col32>.row32{
        height:4%;
        width:100%;
    }
    .col32>.row33{
        height:8%;
        width:100%;
    }
    .col32>.row34{
        height:8%;
        width:100%;
    }
    .col32>.row35{
        height:8%;
        width:100%;
    }
    .col32>.row36{
        height:8%;
        width:100%;
    }
    .col32>.row37{
        height:8%;
        width:100%;
    }
    .col32>.row38{
        height:8%;
        width:100%;
    }
    .col32>.row39{
        height:8%;
        width:100%;
    }
    .col32>.row310{
        height:8%;
        width:100%;
    }
    .col32>.row311{
        height:8%;
        width:100%;
    }
    .col32>.row312{
        height:17%;
        width:100%;
    }
    


.row3>.col{
    height:220px;
}
    .row3>.col1{
        width:8%;
    }
    .row3>.col2{
        width:14%;
    }
    .row3>.col3{
        width:48%;
    }
    .row3>.col4{
        width:22%;
    }
    .row3>.col5{
        width:8%;
    }
    .col2>.row221{
        width:100%;
        height:30%;
    }    
    .col2>.row222{
        width:100%;
        height:10%;
    }
    .col2>.row223{
        width:100%;
        height:30%;
    }
    .col2>.row224{
        width:100%;
        height:30%;
    }
    .col4>.row41{
        width:100%;
        height:30%;
    }
    .col4>.row42{
        width:100%;
        height:15%;
    }
    .col4>.row43{
        width:100%;
        height:20%;
    }
    .col4>.row44{
        width:100%;
        height:35%;
    }




*{
    box-sizing: border-box;
}    



